* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}
body {
    font-family: 'Montserrat', sans-serif;
}

.photo {
    background-image: url(images/about.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover; 
    background-attachment: scroll;
    color: black;
    text-align: left;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 70%; /* Adjust based on your design */
    padding: 3.125rem;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background for better readability */
}

/* footer */
.foot {
    padding: 2.3rem;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

.list-unstyled a {
    text-decoration: none;
     /* Ensures the links have the same color as the parent */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .photo {
        height: 50vh; /* Adjust height for smaller screens */
        padding: 1rem;
    }

    .text {
        width: 100%; /* Full width on mobile */
        padding: 1rem; /* Adjust padding for smaller screens */
        float: none; /* Reset float */
        text-align: center; /* Center text on mobile */
    }
   
    .foot {
        padding: 1.5rem;
        font-size: 0.9rem;
        margin-left: 1rem;
    }
    .fun{
        font-size: 0.9rem;
    }

}

@media (max-width: 576px) {
    .photo {
        height: 50vh; /* Further adjust height for extra small screens */
    }

    .text {
        padding: 0.4rem; /* Further adjust padding for extra small screens */
    }

    .foot {
        padding: 1.5rem;
        font-size: 0.9rem;
        margin-left: 1rem;
    }
    .fun{
        font-size: 0.9rem;
    }
}
